.containerdiv-1 {
    display: grid;
    font-size: 20px;
    color: rgb(130, 10, 10);
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.nav1{
    background:LightSkyBlue;
    font-size: 100%;
    color: rgb(130, 10, 10);
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav1 li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav1 li a{
    padding: 14px 16px;
}

.right-float{
    float: right;
}

.left-float{
    float: left;
}

.div2{
    background:LightSalmon;
    grid-column: 1 / 7;
    text-align:center;
}

.div3{
    background:PaleTurquoise;
    grid-column: 1 / 7;
    text-align: center;
}

.div4{
    background:LightPink;
    grid-column: 1 / 7;
    text-align: center;
}

.div5{
    background:PaleGreen;
    grid-column: 1 / 7;
    text-align: center;
}

.div6{
    background:darkgoldenrod;
    grid-column: 1 / 7;
    text-align: center;
}

.div7{
    background:darkgoldenrod;
    grid-column: 1 / 7;
    text-align: center;
}

