.div1{background:LightSkyBlue;
grid-column: 1 / 7;}

.div2{background:LightSalmon;
grid-column: 1 / 7;
justify-self: center;}

.div3{background:PaleTurquoise;
grid-column: 1 / 7;
justify-self: center;}

.div4{background:LightPink;
grid-column: 1 / 7;
justify-self: center;}

.div5{background:PaleGreen;
grid-column: 1 / 7;
justify-self: center;}

.div6{background:darkgoldenrod;
grid-column: 1 / 7;}

.div7{background:darkgoldenrod;
grid-column: 1 / 7;}

.container {
    display: grid;
    font-size: 20px;
    color: rgb(130, 10, 10);
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}